body, * {
    margin: auto;
    padding: 0px;
    max-width: 750px;
}

:root {
    --primary-color: #007f89;
    --secondary-color: #f8a844;
    --enfasis-color: #6dc0bf;
}

@font-face {
    font-family: 'Darkgm';
    src: url(https://edcitec.org/src/mail/fonts/darkg/DarkerGrotesque-Medium.ttf);
}

/*HEADER*/
#header {
    background-color: var(--primary-color);
    height: auto;
    text-align: center;
    padding: 20px 0px;
}
#logoblanco {
    width: 250px;
}


/*MAIN GRID*/
#main{
    width: 100%;
}
#imgwelcome{
    width:auto;
    background-image: url("https://edcitec.org/src/mail/img/welcome.jpeg");
    height: 40vh;
    background-position: center top;
    background-size: cover;
}
#contenido {
    text-align: center;
    color: white;
    background-image: linear-gradient(var(--enfasis-color) , var(--secondary-color)  70% );
    background-blend-mode: multiply;
    padding: 10vh 15%;
}
#contenido h4 {
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: 'Darker Grotesque', sans-serif;
    letter-spacing: 3px;
}
#nombre {
    margin: 2vh 0px 4vh 0px;
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: 'Darker Grotesque', sans-serif;
    letter-spacing: 7px;
}
#contenido p {
    font-size: 1em;
    font-family: 'Candara';
    letter-spacing: 1px;
}
#question {
    margin-top: 5vh;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 'Darker Grotesque', sans-serif;
    letter-spacing: 3px;
}
#btncontacto {
    font-size: 1.1em;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.842);
    color: var(--secondary-color);
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.137);
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    min-width: 240px;
    transition: 1s;
}
#btncontacto:hover {
    transform: translate(10px, 0px);
}


/*FOOTER*/
#footer {
    padding: 5px 5%;
}
#innerfooter {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.feet{
    background-color: white;
    width: 30%;
    height: inherit;
    color: var(--secondary-color);
    align-content: center;
}
.feet a{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px;
}
.feet a p{
    color: var(--secondary-color);
    font-size: 1.3em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
    margin: auto 0px;
}
.logofoot{
    margin: auto 0px;
}
#divider{
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
}
#f2{
    display: flex;
}
#logocolor {
    width: 80%;
    margin: auto;
}
@media screen and (max-width: 500px)
{
    /**Header**/
    #logoblanco{
        width: 180px;
    }

    /* Main */
    #imgwelcome{
        height: 30vh;
    }
    #contenido{
        padding: 5vh 8%;
        font-size: 12px;
    }
    #nombre{
        margin-top: 1vh;
    }
    #btncontacto{
        padding: 8px 10px 10px 10px;
    }

    /* Footer*/
    .feet{
        width: 40%;
    }
    .feet a p{
        font-size: 14px;
        font-weight: 700;
    }
    .logofoot{
       width: 20px;
       height: 20px;
    }
    #logocolor{
        width: 100%;
    }

}